article{
    height: 100vh;
    scroll-snap-align: center;
}
@media screen and (max-width:767px){
    article{
        height: 400px;
        
    }
}
.Portfolio{
    position: relative;
}
@media screen and (max-width:767px){
    .Portfolio{
        margin-top: 145px;
    }
}

.Progress{
    position: sticky;
    top: 0;
    right: 0;
    text-align: center;
    padding-top: 60px;
}
@media screen and (max-width:767px){
    .Progress{
        
        padding-top: calc(100vh-100px);
    }
}
.Progress>h1{
    color: orange;
    font-size: 57px;
}
@media screen and (max-width:767px){
    .Progress>h1{
        
        font-size: 30px;
    }
}
.progressBar{
    height: 10px;
    background-color: rgb(208, 134, 208);
}
.conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}
@media screen and (max-width:767px){
    .conatiner{
       transition: none;
        
    }
}
.wrappers{
    max-width:1024px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap:50px
}
@media screen and (max-width:767px){
    .wrappers{
        flex-direction: column;
        padding: 10px;
    }
}
.wrappers>img{
   
    height: 400px;
    width: 50%;
    object-fit: cover;
    
}
@media screen and (max-width:767px){
    .wrappers>img{
   
      width: 100%;
      max-height: 300px;
      object-fit: contain;
        
    }
}


.textContainer>h2{
    font-size: 50px;
}
@media screen and (max-width:767px){
    .textContainer>h2{
        font-size: 25px;
    }
}
.textContainer>p{
    color: gainsboro;
    font-size: 20px;
}
@media screen and (max-width:767px){
    .textContainer>p{
        
        font-size: 17px;
    }
}
.btnInfo{
    display: flex;
    gap: 20px;
}
.btnInfo>button{
    background-color:orange;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 200px;
    color: aliceblue;
    font-size: 24px;
    cursor: pointer;
}
@media screen and (max-width:767px){
    .btnInfo>button{
        
        padding: 5px 10px;
        width: 100px;
        color: aliceblue;
        
        cursor: pointer;
    }
}
@media screen and (max-width:767px){
    .btnInfo>button>a{
        
       font-size: 15px ;
    }
}