.SideBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    color: black;
   
}
.bg{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 400px;
    height:100vh;
    background:whitesmoke;

}
@media screen and (max-width:767px){
    .bg{
        width: 200px;
    }
}